 <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5>About SelectEd</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac tincidunt nisi. Donec ac lectus vitae diam congue tristique. Fusce vel ultrices arcu, vitae tincidunt eros.</p>
      </div>
      <div class="col-lg-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= my_events_path %>">My Events</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>Contact Us</h5>
        <address>
          123 Main Street<br>
          City, State<br>
          Country<br>
          Phone: 123-456-7890<br>
          Email: info@example.com
        </address>
      </div>
    </div>
  </div>
</footer>
