<div class="container mx-auto mt-4">
  <h1>My CREATED Events</h1>
<div class="container mx-auto mt-4">
  <div class="row">
    <% @events_owned.each do |event| %>
      <div class="col-lg-3 my-3">
        <div class="card" style="width: 18rem; height: 22rem;">
          <div class="card-body position-relative">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text position-absolute bottom-0 start-2 fw-bold">
            <%= link_to "Details", community_event_path(event.community, event) %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to "Back to communities page", communities_path(@community), class: "btn btn-dark" %>
    </div>

          <%# <%= link_to "Home", communities_path %> 
  </div>
</div>
