<div class="container mx-auto mt-4">
  <h1>EVENTS</h1>
   <div class="row">
    <% @events.each do |event| %>
      <div class="col-lg-4 m-4">
        <div class="card">
        photos
          <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
          <div class="card-body">
            <div class="flex-begin">
            <h5 class="card-title"><%= event.title %></h5>
            </div>
            <p class="card-text"><%= event.description %></p>
            <a href="" class="btn btn-outline-success btn-sm">Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
