<div class="container mx-auto mt-4">
  <h1>My events</h1>
  <div class="container mx-auto mt-4">
    <div class="row">
      <% @my_events.each do |event| %>
        <div class="col-lg-3 my-3">
          <div class="card border border-2 border-gray shadow" style="width: 18rem; height: 22rem;">
            <div class="card-body position-relative">
              <div class="image-wrapper" style="height: 250px; overflow: hidden;">
                <% if event.photos.attached? %>
                  <img src="<%= cl_image_path event.photos.first.key %>" class="card-img-top" alt="Listing Image" style="object-fit: cover; width: 100%;">
                <% end %>
              </div>
              <h5 class="card-title position-absolute bottom-0 start-1 mb-3 me-"><%= event.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <a href="<%= community_event_path(event.community, event) %>" class="btn btn-outline-primary position-absolute bottom-0 end-0 mb-3 me-3">Details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
