<div class="container">
  <h1>Create Event</h1>
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
      <div class="bg-white rounded p-3 shadow m-3">
        <h2>Event Details</h2>
        <%= render 'form', event: @event %>
      </div>
    </div>
    <%= link_to "Back", community_path(@community), class: "btn btn-secondary mt-3" %>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var startDateInput = document.getElementById('start-date');
      var endDateInput = document.getElementById('end-date');
      startDateInput.addEventListener("input", function() {
        endDateInput.min = startDateInput.value;
        if (endDateInput.value < startDateInput.value) {
          endDateInput.value = startDateInput.value;
        }
      });
    });
  </script>
</div>
