<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>!
    <br>You've just been accepted as a member of the <%= @community.title %>'s community!    </p>
    <p> You can now RSVP and retrieve your QR code tickets online. </p>

<p>Visit <a href="https://www.nubanuba.com/communities/cultura-subterranea" >Culutra Subterranea on nubanuba.com </a> to check-out the incoming events!
<p>
The nubanuba team.</p>

    </body>
  </html>
