<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>!
    <br>You've just been accepted as a member of the <%= @community.title %>'s community!    </p>
    <p> You can now RSVP and retrieve your QR code tickets online. </p>

<p>Visit the <%= link_to @community.title, community_url(@community) %>'s community page to check out the incoming events. </p>

The nubanuba team.

    </body>
  </html>
