<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>, you've just been been accepted to become a member of the <%= @community.title %>'s community!    </p>
    <p> You can now attend their events and receive your QR code diretly!    </p>

    You can visite their community page at

The nubanuba team.
    </body>
  </html>
