.footer2 {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 10px; /* adjust as needed */
  margin-bottom: 10px; /* adjust as needed */
  color: white !important;
  background-color: black;
}

.footer2 .container {
  padding-top: 10px; /* adjust as needed */
  padding-bottom: 10px; /* adjust as needed */
}
