.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: #1B262C !important;
  z-index: 6000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 175px !important;
  height: auto;
}

.logo-align {
  display: inline-block;
  vertical-align: middle;
}


.nav-text {
  color: #ffffff !important;;
}


.dropdown-menu {
  background-color: black;
}

.dropdown-item:hover {
  color: #0F4C75 !important;
  background-color: white !important;
}
