<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow ">
      <h3>Create a User Ticket and QR code manually</h3>
      <%= render 'form', user_ticket: @user_ticket %>

    </div>
  </div>
</div>
