<div class="container mx-auto mt-4">
  <h1><%= current_user.full_name %> tickets</h1>
  <div class="container mx-auto mt-4">
    <div class="row">
      <% @my_user_tickets.each do |user_ticket| %>
        <div class="col-lg-3 my-3">
          <div class="card border border-2 border-gray shadow" style="width: 18rem; height: 22rem;">
            <div class="card-body position-relative">
              <div class="qr-code">
                <% if user_ticket.qrcode.attached? %>
                  <%= cl_image_tag(user_ticket.qrcode.key, width: 250, height: 240, alt: "QR code for ticket") %>
                <% end %>
              </div>
              <div><h4 class="card-title position-absolute bottom-0 start-1 mb-3 me-3"><%= user_ticket.ticket.event.title %></h4></div>
              <a href="<%= ticket_user_ticket_path(ticket_id: user_ticket.ticket_id, id: user_ticket.id) %>" class="btn btn-outline-primary position-absolute bottom-0 end-0 mb-3 me-3">Details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
