<div class="card shadow mx-auto m-3 p-3" style="width: 18rem;">
  <div class="card-body text-center">
    <h1 class="mb-3">New scan</h1>
    <h5 class="card-title font-weight-bold mb-3">Open your smartphone camera with this button</h5>
    <p class="card-text mb-3">
      <input type="file" accept="image/*" capture="capture">
    </p>
  </div>
</div>
