<h1>Communities#index</h1>

Existing commuinities:
<%  @communities.each do |community| %>
<ul>
<%= community.title %>
<%=link_to "View community", community_path(community) %>
</ul>
<% end %>
<p>

<hr>
<%= link_to "Create a community", new_community_path %>
