<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow ">
    <h3>  <%= "Create a community" %></h3>
      <%= render 'form', community: @community %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to "Back to community", communities_path(@community), class: "btn btn-dark" %>
</div>
