<div class="position-relative m-3">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= "Create a community" %>
      <%= render 'form', community: @community %>
    </div>
  </div>
</div>
<%= link_to "Back", communities_path %>
