<div class="container">
  <h1><%= @community.title %></h1>
    </div>
    <div class="col-12 col-lg-4 my-3">

        <%= link_to "Go back", communities_path, class: "btn btn-outline-dark" %>
  </div>
  </div>
</div>
<br><br><br>
